<main class="product-page">
  <div class="producto-container">
    <header class="producto-header">
      <div>
        <h1 class="producto-header__title">Nuevo producto</h1>

        <p class="producto-header__description">
          Captura la información necesaria para registrar un producto.
        </p>
      </div>
    </header>
    <!--mandamos mensaje de error o éxito -->
    @if (guardadoCorrectamente()){
    <div class="alert alert-success producto-alert"role="alert">
            <span>Producto guardado correctamente.</span>
            <button type="button" class="producto-alert__close" aria-label="Cerrar mensaje"
            (click)="cerrarMensaje()">&times;</button>
      </div>
    }
    @if(errorServidor()){
    <!--mandamos mensaje de error o éxito -->
    <div class="alert alert-danger producto-alert" role="alert">
      <span>Ocurrio un error al guardar el producto.</span><!--cambiamos por una iterpolacion-->
      <button type="button" class="producto-alert__close" aria-label="Cerrar mensaje" (click)="cerrarMensaje()">
        &times;
      </button>
    </div>
  }
  </div>
  <!--iniciamos la logica del formulario-->
  <form [formRoot]="productoForm"  autocomplete="off">
  
    <div class="row g-4">
    <!--Informacion general-->
    <div class="col-12 col-xl-8 card shadow p-3 mb-5 bg-body rounded">
    <!--empezamos la seccion del formulario -->
      <section class="form-card form-card--general">
      <h2 class="form-card__title">Información general</h2>
        <div clas="form-section">
          <label for="nombre" class="form-label">Nombre del producto
            <span class="required-mark">*</span>
          </label>
          <input type="text" id="nombre" class="form-control form-control-sm"
           placeholder="Nombre del producto" 
           [formField]="productoForm.nombre" 
           [class.is-invalid]="productoForm.nombre().touched() && productoForm.nombre().invalid()" 
        /> 
        @if ( productoForm.nombre().touched()&&
        productoForm.nombre().invalid() ){
            @for(error of productoForm.nombre().errors();track error){
                <div class="invalid-feedback d-block">
                  {{error.message}}
                </div>
            }           
        }
        </div>
        <div class="form-section">
          <label for="descripcion" class="form-label">Descripción</label>
          <textarea id="descripcion" 
          rows="4"
           class="form-control form-control-sm"
          placeholder="Ingresa una descripción del producto"
          [formField]="productoForm.description" 
          [class.is-invalid]="productoForm.description().touched() &&
          productoForm.description().invalid()"></textarea>
          @if( productoForm.description().touched() && productoForm.description().invalid())
          {
              @for(error of productoForm.description().errors();track error)
              {
                  <div class="invalid-feedback d-block">
                    {{error.message}}
                  </div>
              }
          }
        </div>
        <div class="form-section">
          <label for="price" class="form-label">Precio</label>
          <input id="price" type="number" class="form-control form-control-sm"
          placeholder="Ingresa el precio" [formField]="productoForm.price"
          [class.is-valid]="productoForm.price().touched()&&productoForm.price().invalid()"/>
          @if(productoForm.price().touched() && productoForm.price().invalid())
          {
              @for(error of productoForm.price().errors();track error)
              {
                  <div class="invalid-feedback d-block">
                    {{error.message}}
                  </div>
              }
          }
        </div>
      </section>
    </div>
    <!--columna derecha-->
    <div class="col-12 col-xl-4 card shadow me-px  p-3 ml-5 bg-body rounded"></div>
    </div>
  
</form>
  <!--cerramos el formulario-->
</main>