<main class="product-page">
  <div class="producto-container">
    <header class="producto-header">
      <div>
        <h1 class="producto-header__title">Nuevo producto</h1>

        <p class="producto-header__description">
          Captura la información necesaria para registrar un producto.
        </p>
      </div>
    </header>
    <!--mandamos mensaje de error o éxito -->
    <div class="alert alert-success product-alert" role="alert">
      <span>Producto Guardado Exitosamente</span>
      <button type="button" class="producto-alert__close" aria-label="Cerrar mensaje"
      (click)="cerrarMensaje()">&times;</button>
    </div>

  </div>
</main>